#intro {
    background-color: var(--main-bg-color);
    background-position: center right;
    background-size: cover;
    color: var(--main-color);
    display: flex;
    padding: 0 249px;
    font-family: 'Roboto', sans-serif;
    height: clamp(600px, 93vh, 1000px);
    width: 100%;
}

#intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 20px;
}
#intro-content h1 {
    font-size: 4.5em;
    margin-bottom: 18px;
}
#intro-content p {
    font-size: 1.3em;
    max-width: 800px;
}

#intro #scroll-down {
    animation: bounce 2s infinite;
    background-color: rgb(12, 80, 95);
    border: 1px solid black;
    border-radius: 8px;
    color: rgb(253, 253, 253);
    font-size: 1.5em;
    padding: 8px 24px;
    position: absolute;
    bottom: 120px;
    text-decoration: none;
    transition: all 0.35s linear;
    z-index: 10;
}
#intro #scroll-down:hover {
    animation: none;
    background-color: rgb(90, 150, 215);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.6em;
    transition: all 0.3s ease-in-out;
}

#intro #intro-image {
    flex: 1;
    flex-basis: 30%;
    
}
#intro #intro-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}